.App {
  text-align: center;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

.pf-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.pf-video {
  width: 300px;
  margin: 10px;
}

.pf-video video {
  width: 100%;
  height: auto;
}