.App {
  text-align: center;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

.pf-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.pf-video {
  width: 100px;
}

